.statistics {
  padding: 40px;
  text-align: center;
}

.stat-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.item {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 60px;
  height: 50px;
  border-radius: 5px;
}

.label {
  font-weight: 600;
}
